# OS
.DS_Store
.DS_STORE

# Environment
*.env
!*.env.example

# Logs
*.log

# Cache and temp
.cache/
.tmp/

# Dependencies
node_modules/

# Build outputs
bin/
dist/
.next/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data (local postgres, etc)
data/